version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16
    environment:
      TZ: 'Europe/Helsinki'
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Build
          command: npm run build
     # - run:
     #     name: Report coverage
     #     command: bash <(curl -s https://codecov.io/bash)
